<html>
    <head>
	<!-- temporary work around because express.static with url rewrite is broken -->
	<link rel="stylesheet" type="text/css" href="<%=webPath%><%=splitters[0][1]%>/landing.css">
    </head>
    <body>

	<div class="app">
		<h1 class="title">PDF Applications</h1> 
		<div class="content">
			<p>Select an application to get started: <%=log%></p>
			<div class="splitters">
			<% for(splitter in splitters){ %>
				<a class="button" href="<%=webPath%><%=splitters[splitter][1]%>"><%=splitters[splitter][0]%></a>
			<% } %>
			</div>
		</div>
	</div>

    </body>
</html> 