<html>
    <head>
	<link rel="stylesheet" type="text/css" href="splitter.css">
	<style>
		.title::before{content:"<%=title%> PDF Application";}
		#error{
			color:rgb(0, 0, 0);
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head> 
    <body>
			<a class="button home" href="../<%=webPath%>">All Applications</a>
	<div class="app">
	<h1 class="title"><%=title%> PDF Application</h1>
		<div id="contentArea">
				<p id="error">Select one or more files and enter an output file name:</p>
				<form id="mainForm" onsubmit="handleSubmit()" method="post" action="<%=webPath%><%=url%>" enctype="multipart/form-data">
					<div id="wrapper">
							
	    <div class="container">
		<div class="cell doc">
						<input class="inputfile" id="file" type="file" name="file" accept=".pdf" hidden multiple required>
						<label for="file">Choose files</label>

		</div>

		<div class="vWrapper">
		<input class="textbox meta" type="text" name="title" placeholder="Name your file" required> 
		</div>
		<div class="vWrapper">
			<input id ="submit" class="button" type="submit" value="Submit"> 
		</div>
			</div>
		</div>
		</form>
		<div id="animate">
			<div id="loading" class="lds-ring">
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
				<div>
				</div>
			</div>
		</div>
		</div>
	</div>

	<script>

var submitButton = document.getElementById("submit");
var errorMessage = document.getElementById('error');

	function handleSubmit(){
		var form = document.getElementById("mainForm");
		var loading = document.getElementById("loading");
		form.style.transform = "scaleY(0.3)";
		form.style.opacity = "0";
		errorMessage.style.color = "white";

		setTimeout(()=>{
			form.style.display = "none";
			loading.style.opacity = "1";
		}, 750)
		console.log("submitted");
	}

	submitButton.addEventListener("click", ()=>{
		var file = document.querySelectorAll( '.inputfile' )[0];
		var year = document.querySelectorAll( '.textbox' )[0];

		if(file.value == "" && year.value != ""){
			errorMessage.innerHTML = "Please choose at least one file";
			errorMessage.style.color = "#d23636";
		} 
	})

	var input = document.querySelectorAll( '.inputfile' )[0];
	var label= input.nextElementSibling,
	labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e ){
		var files = input.files;
		var theHTML = "";
		for (var i = 0; i < files.length; i++){
			theHTML += (i+1) + ". " +files[i].name + "<br>";
		}

		console.log(theHTML);
		label.innerHTML = theHTML;
		if(!label.innerHTML){
			label.innerHTML = "Choose files";
		} else {
			errorMessage.innerHTML = "Select one or more files and enter an output file name";
			errorMessage.style.color = "black";
		}
	});



	</script>

    </body>
</html>